body{
    background-color: #f3c2a0;
    padding: 50;
    margin: 50;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
}
h1{
   color:#ff2491;
}
#content{
    margin: 40px;
}
#story_id{
    width:25%;
}
select{
    min-width: 200px;
    min-height: 20px;
}
option{
    background-color: #ddd;
}
